<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.booktemplate" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
  
    <name>Book Template</name>
    <description>
        This is strictly a foundation for any book app.
    </description>
    <author href="https://antheaddigital.com" email="accounts@antheaddigital.com">
      Anthead Digital
    </author>
    <content src="index.html" />

    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="orientation" value="landscape" />

    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <platform name="ios" />
    <platform name="android" />
    <platform name="winphone" />

</widget>
